* {
  margin: 0;
  padding: 0;
}
#title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: lightgray;
}

#title > span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: 800;
}

#base-container {
  height: 90vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card {
  height: 380px;
  width: 270px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.card-img-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.prod-heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 500;
  margin: 10px;
}

.prod-text {
  color: rgb(45, 45, 45);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.prod-price {
  color: rgb(255, 162, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 700;
}

.add-btn {
  background-color: rgb(8, 173, 30);
  border-radius: 5px;

  border: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 35px;
  width: 100px;
  padding: 10px;
}

.add-btn:hover {
  background-color: rgb(5, 131, 22);
}
