#container {
  height: 500px;
  width: 70%;
  background-color: rgb(45, 45, 45);
}

#header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(45, 45, 45);
}
#navbar {
  margin-top: 50px;
  width: 70%;
  height: 80px;
  background-color: gray;
  display: flex;
  border-radius: 5px;
}

.sticky {
  height: 250px;
  width: 250px;
}
#icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#box {
  height: 658px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(45, 45, 45);
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 800;
  color: rgb(45, 45, 45);
}

#sticky1 {
  position: absolute;
  left: 261px;
  top: 300px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky2 {
  position: absolute;
  left: 518px;
  top: 300px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky3 {
  position: absolute;
  left: 777px;
  top: 300px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky4 {
  position: absolute;
  left: 1035px;
  top: 300px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky5 {
  position: absolute;
  left: 1035px;
  top: 550px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky6 {
  position: absolute;
  left: 777px;
  top: 550px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky7 {
  position: absolute;
  left: 518px;
  top: 550px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}

#sticky8 {
  position: absolute;
  left: 261px;
  top: 550px;
  height: 90px;
  background-color: rgb(239, 233, 125);
  border: none;
  border-radius: 8px;
}
